@page "/studijne-programy"

<h1>Ponúkané bakalárske študijné programy</h1>

<p>
    Fakulta riadenia a&nbsp;informatiky (FRI) ponúka v akademickom roku 2020/2021 tieto akreditované bakalárske
    študijné programy:
</p>

<table class="table table-sm table-hover table-bordered table-responsive mb-4">
    <thead class="thead-light text-center">
        <tr>
            <th scope="col" class="align-middle">Študijný program</th>
            <th scope="col" class="align-middle">Forma štúdia</th>
            <th scope="col" class="align-middle">Akademický titul</th>
            <th scope="col" class="align-middle">Dĺžka štúdia v rokoch</th>
            <th scope="col" class="align-middle">Plánovaný počet prijatých uchádzačov</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td class="text-left text-nowrap">Informatika</td>
            <td>Denná</td>
            <td>Bc.</td>
            <td>3</td>
            <td>280</td>
        </tr>
        <tr>
            <td class="text-left text-nowrap">Informatika a riadenie</td>
            <td>Denná</td>
            <td>Bc.</td>
            <td>3</td>
            <td>100</td>
        </tr>
        <tr>
            <td class="text-left text-nowrap">Informatika a sieťové technológie</td>
            <td>Denná</td>
            <td>Bc.</td>
            <td>3</td>
            <td>100</td>
        </tr>
        <tr>
            <td class="text-left text-nowrap">Manažment</td>
            <td>Denná/Externá</td>
            <td>Bc.</td>
            <td>3/4</td>
            <td>100/20</td>
        </tr>
        <tr>
            <td class="text-left text-nowrap">Počítačové inžinierstvo</td>
            <td>Denná</td>
            <td>Bc.</td>
            <td>3</td>
            <td>80</td>
        </tr>
    </tbody>
</table>

<h3>Informatika</h3>
<p>
    Absolventi študijného programu Informatika získajú základné poznatky z informatiky. Budú schopní
    pracovať so softvérom informačných systémov podnikov, podieľať sa na jeho tvorbe a realizácii, získajú
    znalosti z podnikania. Typické uplatnenie absolventov je vo všetkých priemyselných odvetviach, vo
    verejnej správe, v súkromnej sfére a ako samostatní podnikatelia. Štúdium pripravuje odborníkov, ktorí
    ovládajú výpočtovú techniku a vedia uplatniť moderné informačné technológie, vytvára predpoklady pre
    ďalší kvalifikačný rast v oblasti informatiky v rámci inžinierskeho štúdia.
</p>
<h3>Manažment</h3>
<p>
    Absolvent študijného programu Manažment nadobudne kľúčové poznatky, zručnosti a kompetencie v oblasti
    manažérskych disciplín. Dokáže sa úspešne uplatniť ako vedúci zamestnanec (manažér) nižšej aj strednej
    úrovne riadenia výrobnej i nevýrobnej organizácie. Stane sa kvalifikovaným odborníkom schopným
    analyzovať existujúce problémy v systémoch riadenia organizácií, pripraveným tvorivo navrhovať ich
    riešenia, disponovaným skvalitňovať a optimalizovať procesy v organizácii s cieľom vytvárať nové hodnoty
    a dosahovať synergie a strategické konkurenčné výhody.
</p>
<h3>Informatika a riadenie</h3>
<p>
    Študijný program informatika a riadenie v sebe vhodne kombinuje znalosti z oboch oblastí. Jeho výhodou
    je možnosť špecializácie po prvom roku štúdia. Na základe tvojich preferencií sa môžeš rozhodnúť venovať
    viac informatike alebo viac oblasti riadenia podnikov s využitím moderných informačných technológií.
    Staň sa s nami úspešným IT špecialistom, programátorom, IT manažérom, vývojárom mobilných aplikácií,
    testerom, vedúcim projektových tímov, správcom počítačových sietí, analytikom informačných systémov, tím
    lídrom, programátorom webových aplikácií, či IT konzultantom.
</p>
<h3>Informačné a sieťové technológie</h3>
<p>
    Získaj poznatky z oblasti architektúr počítačových systémov, obvodových riešení, pevných a bezdrôtových
    sietí, bezpečnosti a zabezpečenia počítačovej komunikácie, princípov a správy operačných systémov a
    riešení virtualizácie, všeobecných aj špeciálnych techník programovania. Ovládaj nielen aktuálne
    technológie, ale buď pripravený rýchlo sa adaptovať na novovznikajúce technológie. Výhodou tohto
    študijného programu je možnosť profilovať sa do jedného z dvoch ponúkaných zameraní: sieťové technológie
    alebo informačné technológie.
</p>
<h3>Počítačové inžinierstvo</h3>
<p>
    Absolvent študijného programu Počítačové inžinierstvo je pripravený pokračovať v inžinierskom štúdiu,
    alebo sa uplatniť v podnikoch a inštitúciách pri projektovaní, nasadzovaní, prevádzke, údržbe a inovácii
    počítačových systémov, prostriedkov komunikačnej techniky, priemyselnej automatizácie, meracej
    a diagnostickej techniky a podobne. Uplatní sa pri vývoji číslicových systémov na báze mikropočítačov
    a programovateľných obvodov, čo mu umožňuje pracovať tiež na pozícii vývojového pracovníka,
    konštruktéra, prípadne technológa.
</p>
<br />

@code {

}
