
<label for="attachment">Pridať prílohy</label>
<InputFile OnChange="@HandleSelected" multiple id="attachment" class="form-control-file" />

@code {

    [Parameter]
    public EventCallback<ICollection<IBrowserFile>> AddAttachments { get; set; }

    private void HandleSelected(InputFileChangeEventArgs e)
    {
        AddAttachments.InvokeAsync(e.GetMultipleFiles().ToList());
    }
}