@page "/na-stiahnutie"

    <h1>Na stiahnutie (študijné programy, prijímacie konanie, termíny...)</h1>

    <div class="col-sm-offset-2 col-sm-8 ">
        <b>Informácie o&nbsp;štúdiu na FRI:</b>
        <ul>
            <li>
                <a target="_blank" href="https://www.fri.uniza.sk/uploads/files/1586246863-FRI-infoletakBC-2020-2021-final.pdf">Bakalárske štúdium</a>
            </li>
            <li>
                <a target="_blank" href="https://www.fri.uniza.sk/uploads/files/1586246870-FRI-infoletakING-2020-2021-final.pdf">Inžinierske štúdium</a>
            </li>
        </ul>

        <b>Informačné letáky:</b>
        <ul>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/IT_web.pdf">Bakalársky študijný program INFORMATIKA</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/IaR_web.pdf">Bakalársky študijný program INFORMATIKA A RIADENIE</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/IaST_web.pdf">Bakalársky študijný program INFORMAČNÉ A SIEŤOVÉ TECHNOLÓGIE</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/MAN_web.pdf">Bakalársky študijný program MANAŽMENT</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/PI_web.pdf">Bakalársky študijný program POČÍTAČOVÉ INŽINIERSTVO</a>
            </li>
        </ul>

        <b>Informačné plagáty:</b>
        <ul>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/plag/A3_IT.png">Bakalársky študijný program INFORMATIKA</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/plag/A3_IaR.png">Bakalársky študijný program INFORMATIKA A RIADENIE</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/plag/A3_IaST.png">Bakalársky študijný program INFORMAČNÉ A SIEŤOVÉ TECHNOLÓGIE</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/plag/A3_MAN.png">Bakalársky študijný program MANAŽMENT</a>
            </li>
            <li>
                <a target="_blank" href="http://studuj.fri.uniza.sk/downloads/plag/A3_PI.png">Bakalársky študijný program POČÍTAČOVÉ INŽINIERSTVO</a>
            </li>
        </ul>


        <p><br><br></p>

    </div>

    @code {

    }
