@page "/pohlad-studentov"

<h1>FRI z pohľadu študenta</h1>
<p>
    Štúdium na Fakulte riadenia a informatiky (FRI) je jedinečné práve prepojením spoločenských a technických vied. Nakoľko aktuálny stav na trhu práce sa vyznačuje nadbytkom absolventov vysokých škôl, je dôležité sa v tejto mase odlíšiť. Absolvovanie FRI Vám umožní túto výhodu získať.
    V rámci bakalárskeho štúdia ponúka fakulta päť študijných programov: informatika, informatika a riadenie, informačné a sieťové technológie, manažment a počítačové inžinierstvo.
    Študenti sa k priebehu štúdia vyjadrili nasledovne:
</p>

<div class="card border-primary mb-3">
    <blockquote class="blockquote mb-0 card-body">
        <p class="mb-0">
            „O odbor informatika som mal veľký záujem. Rozhodoval som sa spomedzi viacerých fakúlt, ale výber FRI vôbec neľutujem. Boli to skvelé roky. Počas štúdia sme pracovali s moderným vybavením. Ja som sa venoval najmä vývoju mobilných aplikácií a už počas štúdia som si rozbehol vlastnú firmu.“
        </p>
        <footer class="blockquote-footer">Jozef, <cite>absolvent programu Informatika</cite></footer>
    </blockquote>
</div>

<div class="card border-primary mb-3">
    <blockquote class="blockquote mb-0 card-body">
        <p class="mb-0">
            „Odbor manažment na FRI je zaujímavý, špecifický a veľmi praktický. Väčšina mojich spolužiakov by povedalo, že štúdium bolo náročné, ale teraz vieme, že sa nám to oplatilo. Je príjemné pri prvom pohovore počuť, že práve škola, na ktorej som študovala, ma posunula do ďalšieho kola. Rozhodne viem, že štúdium na FRI bola správna voľba.“
        </p>
        <footer class="blockquote-footer">Lenka, <cite>absolventka programu Manažment</cite></footer>
    </blockquote>
</div>

<div class="card border-primary mb-3">
    <blockquote class="blockquote mb-0 card-body">
        <p class="mb-0">
            „Skvelé je najmä to, že vyučujúci nás zapájajú do svojich projektov, kde máme možnosť spolupracovať s rôznymi nadnárodnými spoločnosťami. Tam vidíme, ako to v praxi naozaj funguje a popri tom sa nám otvárajú dvere k nášmu potenciálnemu zamestnávateľovi. Čo viac by sme mohli od štúdia očakávať?“
        </p>
        <footer class="blockquote-footer"><cite>absolventi bakalárskych študijných programov</cite></footer>
    </blockquote>
</div>

<img src="images/absolventi_whiteBCG_1x.png" class="img-responsive w-100">

@code {

}
