@page "/preco-studovat-u-nas"

<h1>Prečo študovať u nás</h1>
<p>
    Fakulta riadenia a informatiky (FRI) Žilinskej univerzity v Žiline je etablovanou fakultou uznávanou doma aj v zahraničí. Svedčia o tom nezávislé hodnotenia, ako aj záujem študentov, zamestnávateľov a partnerov. Osobitosť našej fakulty spočíva predovšetkým v kombinácii študijných programov, ktoré na jednom mieste ponúkajú špičkové vzdelanie v odbore informatiky, počítačového inžinierstva a manažmentu. Kombinácia uvedených oblastí vzdelávania a výskumu podporená zanietenými a kompetentnými odborníkmi vytvára predpoklady, ktoré zabezpečujú udržateľný úspech našej fakulty.
</p>
<p>
    Absolventi fakulty sa nachádzajú vo firmách po celom svete. Výraznou výhodou FRI je variabilita štúdia, pretože okrem povinných predmetov si ostatné predmety vyberá študent sám a to zo všetkých študijných odborov – informatika, manažment a počítačové inžinierstvo.
</p>
<p>
    Komunita, ktorú na fakulte vytvárajú členovia študentskej aj zamestnaneckej časti akademickej obce, je schopná využívať prednosti moderných prístupov k riadeniu s podporou informačných technológií. To sa prejavuje nielen vo formovaní študijných programov, ale aj v samotnom riadení fakulty. FRI tradične pestuje kultúru náročnosti a medzi odbornou verejnosťou je známa kvalitou svojich produktov, ktorými sú výstupy z riešenia výskumných projektov, študijné programy a najmä jej absolventi. Počas akademického roka sú na fakulte konané tradičné a veľmi populárne podujatia ako: FRIfest, FRIples a FRIpunč, ktoré dávajú štúdiu ďalší až rodinný rozmer.
</p>
<p>
    Budúca generácia IT špecialistov sa úspešne formuje v Žiline, v meste, kde sídli Fakulta riadenia a informatiky Žilinskej univerzity v Žiline. Práve v meste na Považí si založilo svoje firmy a rozbehlo úspešné IT projekty mnoho absolventov tejto fakulty. Silnú a populárnu komunitu majú „na svedomí“ vďaka tomu, že súdržnosťou, skvelými nápadmi a nadšením pre IT sféru prilákali aj mnohých investorov a IT gigantov hľadajúcich šikovných informatikov.
</p>
<p>
    Budúcim vysokoškolákom poskytuje Fakulta riadenia a informatiky možnosť študovať atraktívne a zároveň žiadané programy. V bakalárskom stupni študijné programy informatika, počítačové inžinierstvo a manažment. V inžinierskom stupni študijné programy informačné systémy, inteligentné informačné systémy, aplikované sieťové inžinierstvo, počítačové inžinierstvo a informačný manažment.
</p>
    <h2>Pridaj sa k úspešnému tímu FRI</h2>
<p>
    Absolventi stredných škôl majú možnosť na Fakulte riadenia a informatiky študovať v súčasnosti <b>najžiadanejšie odbory</b> (z pohľadu trhu práce). Hoci je štúdium na fakulte náročné, vložené úsilie je náležite odmenené. V prvom rade, zaručené je <b>okamžité uplatnenie na trhu práce</b> (98 %, zdroj: profesia.sk) a <b>adekvátne finančné ohodnotenie</b> na pracovisku (plat výrazne vyšší ako priemer v SR). V naposledy zverejnenom rebríčku fakúlt VŠ, podľa príjmov ich absolventov, obsadila Fakulta riadenia a informatiky 9. miesto v celoslovenskom meradle a 1. miesto medzi mimobratislavskými fakultami (1 593 EUR, zdroj: Sociálna poisťovňa). Najväčšou hodnotou, ktorú študent počas štúdia získa, je však členstvo v prestížnej FRI komunite vysoko žiadanej u zamestnávateľov. Táto komunita sa vyznačuje <i>troma</i> hlavnými charakteristickými vlastnosťami, a to <i>zábava/humor, hrdosť/rešpekt, a aktivita</i> (<b>FRI</b>= Fun, Respect, Iniciative).
</p>
<div>
    <br>
    <img src="/images/fri-studenti.jpg" class="img-responsive w-100">
</div>

@code {

}
