@page "/online-chat"
@inject ILocalStorageService localStorage

<h1>Online deň otvorených dverí</h1>
<p>
    Pridávanie otázok a reakcií je <b>otvorené</b>.
</p>

<hr class="mb-4" />


<CascadingValue Value="Author">
    <CascadingValue Value="UpvotedMessages">
        @if(loaded)
        {
            <MessageForm AddedMessage="AddMessage" />

            <MessagesList @ref="List">
                <NoMessages>
                    <h1 class="text-center">@NoMessages</h1>
                </NoMessages>
            </MessagesList>
        }
    </CascadingValue>
</CascadingValue>

@code {

    MessagesList List;

    public IList<int> UpvotedMessages { get; set; } = new List<int>();

    public string Author { get; set; } = "";

    bool loaded = false;

    private string NoMessages { get; set; } = "Nie sú pridané žiadne správy";

    protected override async Task OnInitializedAsync()
    {
        if (!await localStorage.ContainKeyAsync("upvotedMessages"))
        {
            await localStorage.SetItemAsync<IList<int>>("upvotedMessages", new List<int>());
        }
        else
        {
            UpvotedMessages = await localStorage.GetItemAsync<IList<int>>("upvotedMessages");
        }

        if (!await localStorage.ContainKeyAsync("author"))
        {
            await localStorage.SetItemAsync<string>("author", "");
        }
        else
        {
            Author = await localStorage.GetItemAsync<string>("author");
        }

        loaded = true;
    }

    private void AddMessage(Message msg)
    {
        List.Messages.Add(msg);
    }
}