@page "/tvoja-kariera"

<h1>Tvoja kariéra v úspešných IT firmách</h1>

<p>
    Budúca
    generácia IT špecialistov sa úspešne formuje v&nbsp;Žiline, v meste, kde sídli
    Fakulta riadenia a&nbsp;informatiky Žilinskej univerzity v&nbsp;Žiline. Práve
    v&nbsp;meste na Považí si založilo svoje firmy a&nbsp;rozbehlo úspešné IT
    projekty mnoho absolventov tejto fakulty. Silnú a&nbsp;populárnu komunitu majú
    „na svedomí“ vďaka tomu, že súdržnosťou, skvelými nápadmi a&nbsp;nadšením pre
    IT sféru prilákali aj mnohých investorov a&nbsp;IT gigantov hľadajúcich
    šikovných informatikov.
</p>

<p>
    Pozri si úspešné príbehy našich absolventov. Krátka videovizitka nášho absolventa<b> Jozefa Vodičku</b>, ktorý počas štúdia
    naplno využil možnosti zahraničných študijných pobytov a rozbiehal rôzne
    projekty. V súčasnosti pracuje v spoločnosti Google v Prahe.
</p>


<div class="embed-responsive embed-responsive-16by9 mb-4">
    <iframe src="https://www.youtube.com/embed/E3n6v-0G35o" class="embed-responsive-item">
    </iframe>
</div>

<p>
    Pozrite si krátke video o našom absolventovi <b>Vlastimilovi Kociánovi.</b> V
    roku 1996 nastúpil do KROSU ako programátor. Za celú dobu pôsobenia vo
    firme pracoval na viacerých významných pozíciách, v súčasnosti pôsobí
    ako garant projektu iKROS a ako člen predstavenstva.
</p>

<div class="embed-responsive embed-responsive-16by9 mb-4">
    <iframe src="https://www.youtube.com/embed/CL0QybvfBDs" class="embed-responsive-item">
    </iframe>
</div>

<p>
    Absolventi fakulty sa nachádzajú vo firmách po
    celom svete (Google, Microsoft, Eset, Scheidt&amp;Bachmann...).
    Ako príklad
    možno uviesť <i>Petru Cross</i> (Google, USA
    – San Francisco), <i>Mareka Šamaja</i>
    (Microsoft, United Kingdom - Londýn), <i>
        Jozefa
        Vodičku
    </i> – Google, ČR – Praha). Ale aj <i>
        Vlastimila
        Kociána
    </i> – spolumajiteľa spoločnosti KROS, a.s., <i>Róberta Kullu a&nbsp;Jána Krúpu</i> – zakladateľov dcérskej spoločnosti
    Scheidt &amp;Bachmann Slovensko, s. r. o, ktorá rok čo rok rastie
    a&nbsp;aktuálne zamestnáva takmer 700 zamestnancov.
</p>

<div class="embed-responsive embed-responsive-16by9 mb-5">
    <iframe src="https://www.youtube.com/embed/7e1ip2HT7cg" class="embed-responsive-item">
    </iframe>
</div>

<h5 class="text-justify text-center pt-5 mb-0">
    Medzi najväčších zamestnávateľov našich absolventov a zároveň partnerov fakulty patria:
</h5>

<div class="footer partners container-fluid yellow-panel">
    <div class="xs-p-2 md-p-5">
        <div class="row images">
            <div class="col-12 images">
                <img alt="ZSE" src="images/loga_web.png" class="img-responsive w-100">
            </div>
        </div>
    </div>
</div>

@code {

}
