<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <a title="Fakulta Riadenia a Informatiky - Žilinská Univerzita" href="/" @onclick="CollapseNavMenu">
        <img alt="Fakulta Riadenia a Informatiky - Žilinská Univerzita" class="navbar-brand" src="https://www.fri.uniza.sk/images/newfridesign/logo.png">
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="@NavMenuCssClass navbar-collapse justify-content-center" @onclick="CollapseNavMenu">
        <ul class="navbar-nav">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Domov
            </NavLink>
            <NavLink class="nav-link" href="preco-studovat-u-nas" Match="NavLinkMatch.Prefix">
                Prečo u nás študovať?
            </NavLink>
            <NavLink class="nav-link" href="pohlad-studentov" Match="NavLinkMatch.Prefix">
                Pohľad študentov
            </NavLink>
            <NavLink class="nav-link" href="studijne-programy" Match="NavLinkMatch.Prefix">
                Študijné programy
            </NavLink>
            <NavLink class="nav-link" href="na-stiahnutie" Match="NavLinkMatch.Prefix">
                Na Stiahnutie
            </NavLink>
            <NavLink class="nav-link" href="tvoja-kariera" Match="NavLinkMatch.Prefix">
                Tvoja kariéra
            </NavLink>
            <NavLink class="nav-link" href="online-chat" Match="NavLinkMatch.Prefix">
                Online chat
            </NavLink>
        </ul>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}
