

<div class="container">
    <div class="container menu footer">
        <div class="clearfix">
            <hr />
            <div class="row">
                <div class="offset-sm-2 col-sm-2">
                    <a href="http://www.fri.uniza.sk/" title="Na stránku Fakulty riadenia a informatiky"><img id="the-it-man" src="images/fri-logo.svg" class="r"></a>
                </div>
                <div class="col-sm-6">
                    <a href="http://www.budfri.sk/" title="Na stránku BuďFRI.sk"><img id="the-it-man" src="images/budfri-logo.svg" class="r"></a>
                </div>
            </div>
            <div class="row">
                <div class="offset-sm-4 col-sm-4">
                    <img src="images/bud-aj-ty-fri.svg" class="r">
                </div>
            </div>
            <div class="row small mt-5 justify-content-center text-center">
                <p>
                    2013-2020 &copy; <a href="http://www.fri.uniza.sk/">FRI</a> - <a href="http://www.uniza.sk/">ŽU</a> | <a href="https://github.com/thevajko/vf-sandbox">Vajko framework</a>
                    <br> 
                    <a href="mailto:mesko@kst.uniza.sk">Mate o tento system zaujem?</a>
                </p>
            </div>
        </div>
    </div>
</div>

@code {

}
