

<div class="blue-bg">
    <div class="container-fluid container-main">
        <div class="row">
            <div class="table">
                <div class="cell" style="width: 25%; padding: 2%; vertical-align: middle">
                    <a href="http://www.fri.uniza.sk/" title="Na stránku Fakulty riadenia a informatiky"><img class="the-it-man" alt="fri logo" src="images/fri-logo.svg"></a>
                    <a href="http://www.budfri.sk/" title="Na stránku BuďFRI.sk"><img class="the-it-man" alt="budfri logo" src="images/budfri-logo.svg"></a>
                </div>
                <div class="cell">
                    <img alt="manik" src="images/manik.svg" class="r">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid container-main">
    <nav class="navbar navbar-expand-xl navbar-light navbar-bg px-0">
        <div class="navbar-brand"></div>
        <button class="navbar-toggler mr-3 my-2" @onclick="ToggleNavMenu" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse justify-content-center" @onclick="CollapseNavMenu">
            <ul class="navbar-nav justify-content-center w-100">
                <NavLink class="nav-link px-4" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
                <NavLink class="nav-link px-4" href="preco-studovat-u-nas" Match="NavLinkMatch.Prefix">
                    Prečo u nás študovať?
                </NavLink>
                <NavLink class="nav-link px-4" href="pohlad-studentov" Match="NavLinkMatch.Prefix">
                    Pohľad študentov
                </NavLink>
                <NavLink class="nav-link px-4" href="studijne-programy" Match="NavLinkMatch.Prefix">
                    Študijné programy
                </NavLink>
                <NavLink class="nav-link px-4" href="na-stiahnutie" Match="NavLinkMatch.Prefix">
                    Na stiahnutie
                </NavLink>
                <NavLink class="nav-link px-4" href="tvoja-kariera" Match="NavLinkMatch.Prefix">
                    Tvoja kariéra
                </NavLink>
                <NavLink class="nav-link px-4 online-chat" href="online-chat" Match="NavLinkMatch.Prefix">
                    On-line chat
                </NavLink>
            </ul>
        </div>
    </nav>
</div>

<div class="stuha-bok d-none d-md-block">
    <a href="https://vzdelavanie.uniza.sk/prijimacky/" title="Na stránku elektronickej prihlášky">
        <img src="images/stuha-mj-2020.svg" alt="stuha" class="r">
    </a>
</div>

<div class="primacky d-md-none mt-3">
    <a href="https://vzdelavanie.uniza.sk/prijimacky/" title="Na stránku elektronickej prihlášky">
        <div class="grey">Podávanie prihlášok</div>
        <div class="green">do 31. mája 2020</div>
    </a>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}
