<div class="stuha-bok d-none d-md-block">
    <a href="https://vzdelavanie.uniza.sk/prijimacky/" title="Na stránku elektronickej prihlášky">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/"
             xmlns:cc="http://creativecommons.org/ns#"
             xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
             xmlns:svg="http://www.w3.org/2000/svg"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
             xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
             width="100%"
             height="100%"
             viewBox="0 0 405 433"
             version="1.1"
             xml:space="preserve"
             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
             id="svg73"
             sodipodi:docname="stuha-mj-2020.svg"
             inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"><metadata id="metadata79"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /></cc:Work></rdf:RDF></metadata><defs id="defs77" /><sodipodi:namedview pagecolor="#ffffff"
                                                                                                                                                                                                                                                                                                    bordercolor="#666666"
                                                                                                                                                                                                                                                                                                    borderopacity="1"
                                                                                                                                                                                                                                                                                                    objecttolerance="10"
                                                                                                                                                                                                                                                                                                    gridtolerance="10"
                                                                                                                                                                                                                                                                                                    guidetolerance="10"
                                                                                                                                                                                                                                                                                                    inkscape:pageopacity="0"
                                                                                                                                                                                                                                                                                                    inkscape:pageshadow="2"
                                                                                                                                                                                                                                                                                                    inkscape:window-width="1920"
                                                                                                                                                                                                                                                                                                    inkscape:window-height="1027"
                                                                                                                                                                                                                                                                                                    id="namedview75"
                                                                                                                                                                                                                                                                                                    showgrid="false"
                                                                                                                                                                                                                                                                                                    inkscape:zoom="1.9861432"
                                                                                                                                                                                                                                                                                                    inkscape:cx="202.5"
                                                                                                                                                                                                                                                                                                    inkscape:cy="216.5"
                                                                                                                                                                                                                                                                                                    inkscape:window-x="-8"
                                                                                                                                                                                                                                                                                                    inkscape:window-y="22"
                                                                                                                                                                                                                                                                                                    inkscape:window-maximized="1"
                                                                                                                                                                                                                                                                                                    inkscape:current-layer="g71" />

        <path d="M404.74,83.86L78.43,432.98L203.56,432.98L404.74,211.5L404.74,83.86Z"
              style="fill:rgb(215,223,35);fill-rule:nonzero;"
              id="path2" />

        <path d="M0,432.98L78.43,432.98L404.74,83.86L404.74,0L0,432.98Z"
              style="fill:rgb(65,64,66);fill-rule:nonzero;"
              id="path4" />

        <g id="g7">
        <g id="path9"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M119.15,350.74C119.803,349.992 120.617,349.4 121.53,349.01C122.315,348.675 123.168,348.527 124.02,348.58C124.888,348.662 125.736,348.888 126.53,349.25C127.328,349.646 128.074,350.14 128.75,350.72C129.523,351.433 130.175,352.267 130.68,353.19C131.189,354.186 131.508,355.268 131.62,356.38C131.752,357.562 131.633,358.758 131.27,359.89C130.881,361.145 130.195,362.287 129.27,363.22L124.54,368.38L130.65,376.7L127.65,379.94L111.86,358.55L119.15,350.74ZM122.24,365.3L126.18,361.05C126.665,360.569 127.034,359.984 127.26,359.34C127.482,358.761 127.61,358.15 127.64,357.53C127.644,356.909 127.5,356.295 127.22,355.74C126.977,355.13 126.593,354.585 126.1,354.15C125.449,353.467 124.532,353.102 123.59,353.15C122.619,353.242 121.724,353.722 121.11,354.48L117.26,358.63L122.24,365.3Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path6" />

        </g>
        <g id="path11"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M148.31,348.05C149.635,349.63 150.276,351.676 150.09,353.73C149.749,355.668 148.832,357.459 147.46,358.87C146.861,359.552 146.159,360.135 145.38,360.6C143.872,361.572 142.018,361.852 140.29,361.37C139.316,361.036 138.424,360.501 137.67,359.8L137.06,359.21C136.833,359.002 136.628,358.771 136.45,358.52L134,355.34C132.746,353.789 132.042,351.864 132,349.87C132.203,347.826 133.096,345.91 134.53,344.44C135.229,343.649 136.066,342.992 137,342.5C137.806,342.086 138.686,341.837 139.59,341.77C140.477,341.695 141.369,341.822 142.2,342.14C143.069,342.459 143.86,342.961 144.52,343.61C144.882,343.982 145.216,344.379 145.52,344.8L148.31,348.05ZM143.1,347.52C142.888,347.235 142.651,346.971 142.39,346.73C141.728,346.003 140.758,345.632 139.78,345.73C138.844,345.846 137.989,346.324 137.4,347.06C136.686,347.759 136.237,348.686 136.13,349.68C136.127,350.843 136.531,351.972 137.27,352.87L139.41,355.74C139.488,355.891 139.593,356.027 139.72,356.14L140.02,356.44C140.384,356.806 140.835,357.074 141.33,357.22C141.752,357.346 142.196,357.373 142.63,357.3C143.041,357.205 143.44,357.064 143.82,356.88C144.196,356.667 144.534,356.393 144.82,356.07L145.7,354.86C145.904,354.441 146.064,354.002 146.18,353.55C146.237,353.014 146.197,352.472 146.06,351.95C145.834,351.315 145.525,350.713 145.14,350.16L143.1,347.52Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path10" />

        </g>
        <g id="g15"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M147,341C145.782,339.473 145.122,337.574 145.13,335.62C145.22,333.753 145.976,331.979 147.26,330.62C147.81,330.034 148.405,329.493 149.04,329C149.837,328.39 150.703,327.876 151.62,327.47L146.02,319.84L148.68,316.9L165.18,339.18L162.72,341.91L161.3,340.63C161.07,341.912 160.683,343.161 160.15,344.35C159.789,345.114 159.329,345.827 158.78,346.47C157.916,347.54 156.673,348.239 155.31,348.42C153.952,348.477 152.633,347.949 151.69,346.97C151.463,346.762 151.258,346.531 151.08,346.28C150.853,346.036 150.649,345.771 150.47,345.49L147,341ZM153,342.42C153.212,342.705 153.449,342.969 153.71,343.21C154.128,343.711 154.772,343.967 155.42,343.89C156.006,343.761 156.532,343.437 156.91,342.97C157.188,342.706 157.421,342.399 157.6,342.06C157.79,341.66 158.09,341.25 158.28,340.75L158.86,339.24C159.046,338.719 159.173,338.179 159.24,337.63L154.05,330.63C152.604,331.26 151.29,332.159 150.18,333.28C149.571,333.906 149.194,334.721 149.11,335.59C149.061,336.635 149.396,337.663 150.05,338.48L153,342.42Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path13" />

        </g>
        <g id="path15"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M160.13,326.79C158.905,325.294 158.181,323.45 158.06,321.52C158.078,319.685 158.853,317.936 160.2,316.69C160.765,316.109 161.396,315.596 162.08,315.16C163.081,314.585 164.149,314.135 165.26,313.82L164.54,312.23L167,309.5L178.31,325L175.85,327.73L174.53,326.55C174.24,327.35 174.05,328.16 173.86,328.76C173.67,329.36 173.37,329.87 173.18,330.37C172.973,330.754 172.743,331.125 172.49,331.48C172.316,331.793 172.081,332.068 171.8,332.29C170.913,333.383 169.629,334.084 168.23,334.24C166.87,334.207 165.572,333.652 164.61,332.69C164.132,332.298 163.72,331.832 163.39,331.31L160.13,326.79ZM165.95,328.11C166.195,328.429 166.466,328.726 166.76,329C167.178,329.501 167.822,329.757 168.47,329.68C169.047,329.528 169.566,329.208 169.96,328.76C170.529,328.113 170.961,327.358 171.23,326.54C171.62,325.54 171.9,324.54 172.29,323.33L167.4,316.79C166.594,316.931 165.819,317.212 165.11,317.62C164.338,318.014 163.636,318.531 163.03,319.15C162.442,319.731 162.126,320.534 162.16,321.36C162.204,322.37 162.552,323.343 163.16,324.15L165.95,328.11ZM158.57,314.61L156.27,306.74L159.55,305L160.77,313.68L158.57,314.61Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path17" />

        </g>
        <g id="g22"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M182.25,313.1L179.13,304.24C178.92,303.64 178.72,303.15 178.61,302.75C178.459,302.378 178.289,302.014 178.1,301.66L177.49,300.77C177.29,300.47 176.98,300.28 176.78,299.98L176.27,299.49L179.03,296.49L179.54,296.88C180.274,297.57 180.891,298.374 181.37,299.26C181.794,300.155 182.129,301.089 182.37,302.05L186.66,316.05L184,318.87L168.06,308.48L171.06,305.24C171.16,305.34 171.56,305.53 172.17,306.03C172.78,306.53 173.38,306.91 174.09,307.3C174.8,307.69 175.4,308.18 176.01,308.57C176.37,308.798 176.705,309.063 177.01,309.36C177.11,309.46 177.31,309.56 177.52,309.75C177.846,309.948 178.151,310.179 178.43,310.44C178.73,310.74 179.14,310.93 179.54,311.33C179.929,311.602 180.3,311.899 180.65,312.22C180.95,312.52 181.36,312.71 181.56,312.91C181.745,313.02 181.916,313.15 182.07,313.3L182.25,313.1Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path20" />

        </g>
        <g id="path19"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M185.17,299.56C183.945,298.064 183.221,296.22 183.1,294.29C183.118,292.455 183.893,290.706 185.24,289.46C185.805,288.879 186.436,288.366 187.12,287.93C188.121,287.355 189.189,286.905 190.3,286.59L189.58,285L192.04,282.27L203.35,297.72L200.89,300.45L199.58,299.37C199.29,300.17 199.1,300.98 198.91,301.58C198.72,302.18 198.42,302.69 198.23,303.19C198.023,303.574 197.793,303.945 197.54,304.3C197.366,304.613 197.131,304.888 196.85,305.11C195.963,306.203 194.679,306.904 193.28,307.06C191.92,307.027 190.622,306.472 189.66,305.51C189.182,305.118 188.77,304.652 188.44,304.13L185.17,299.56ZM190.99,300.78C191.3,301.18 191.5,301.37 191.7,301.67C192.118,302.171 192.762,302.427 193.41,302.35C193.964,302.197 194.474,301.916 194.9,301.53C195.469,300.883 195.901,300.128 196.17,299.31C196.56,298.31 196.84,297.31 197.23,296.2L192.34,289.66C191.538,289.817 190.766,290.097 190.05,290.49C189.29,290.881 188.598,291.39 188,292C187.412,292.581 187.096,293.384 187.13,294.21C187.174,295.22 187.522,296.193 188.13,297L190.99,300.78Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path24" />

        </g>
        <g id="path21"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M213.9,286.37L206.9,276.76C206.7,276.46 206.39,276.17 206.19,275.87C205.772,275.369 205.128,275.113 204.48,275.19C203.864,275.316 203.306,275.639 202.89,276.11C201.89,277.11 201.23,278.93 200.76,281.54L208.5,292.24L205.74,295.18L194.43,279.73L196.9,277.1L198.22,278.28C198.388,277.462 198.612,276.657 198.89,275.87C199.079,275.318 199.306,274.78 199.57,274.26C199.777,273.876 200.007,273.505 200.26,273.15C200.434,272.837 200.669,272.562 200.95,272.34C201.814,271.27 203.057,270.571 204.42,270.39C205.734,270.412 206.992,270.93 207.94,271.84L208.55,272.43C208.777,272.674 208.981,272.939 209.16,273.22L216.6,283.32L213.9,286.37Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path27" />

        </g>
        <g id="path23"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M210.87,261.91L218.41,272.21C218.58,272.382 218.718,272.581 218.82,272.8C218.92,273 219.12,273.1 219.23,273.19C219.74,273.58 220.14,273.78 220.44,273.67C220.902,273.506 221.312,273.223 221.63,272.85L223.63,275.85L223.14,276.36C222.375,277.292 221.318,277.94 220.14,278.2C219.008,278.36 217.87,277.92 217.14,277.04C216.778,276.668 216.444,276.271 216.14,275.85L207.99,264.85L210.87,261.91ZM204.65,260.69C204.241,260.189 204.053,259.542 204.13,258.9C204.122,258.263 204.366,257.647 204.81,257.19C205.191,256.817 205.675,256.566 206.2,256.47C206.678,256.477 207.14,256.646 207.51,256.95C207.779,257.196 207.988,257.5 208.12,257.84C208.247,258.193 208.318,258.565 208.33,258.94C208.315,259.313 208.251,259.683 208.14,260.04C208.016,260.363 207.852,260.669 207.65,260.95C207.327,261.33 206.858,261.555 206.36,261.57C205.882,261.563 205.42,261.394 205.05,261.09L204.65,260.69Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path30" />

        </g>
        <g id="path25"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M218.85,252.9C219.95,251.48 221.548,250.529 223.32,250.24C224.714,250.079 226.111,250.536 227.14,251.49C227.795,252.083 228.287,252.833 228.57,253.67C228.905,254.529 228.988,255.466 228.81,256.37C228.571,257.523 228.181,258.639 227.65,259.69C226.812,261.106 225.823,262.427 224.7,263.63L223.52,264.85C223.626,265.037 223.765,265.203 223.93,265.34C224.03,265.44 224.13,265.64 224.34,265.73C224.939,266.346 225.801,266.633 226.65,266.5C227.534,266.316 228.335,265.849 228.93,265.17C229.405,264.643 229.771,264.028 230.01,263.36C230.34,262.565 230.5,261.71 230.48,260.85C231.08,260.94 231.78,260.93 232.38,261.02C232.98,261.11 233.58,261.1 234.28,261.19C234.235,262.55 233.893,263.885 233.28,265.1C232.71,266.154 232.019,267.137 231.22,268.03C230.042,269.409 228.43,270.347 226.65,270.69C224.895,270.861 223.154,270.219 221.93,268.95C220.724,267.873 219.665,266.643 218.78,265.29C217.894,264.053 217.218,262.678 216.78,261.22C215.903,258.274 216.706,255.073 218.87,252.89L218.85,252.9ZM221.38,255.47C220.497,256.292 220.064,257.493 220.22,258.69C220.426,259.978 220.922,261.202 221.67,262.27L222.26,261.66L222.75,261.15C223.478,260.427 224.107,259.609 224.62,258.72C224.94,258.192 225.17,257.614 225.3,257.01C225.421,256.61 225.378,256.178 225.18,255.81C225.069,255.513 224.895,255.243 224.67,255.02C224.271,254.623 223.722,254.412 223.16,254.44C222.446,254.5 221.795,254.879 221.39,255.47L221.38,255.47Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path33" />

        </g>
        <g id="g38"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M251,236.38C252.221,237.834 252.925,239.653 253,241.55C252.92,243.526 252.086,245.399 250.67,246.78C250.159,247.334 249.6,247.843 249,248.3C248.176,248.899 247.274,249.383 246.32,249.74L251.41,256.67L248.75,259.61L232.86,238L235.32,235.27L236.74,236.55C237.044,235.275 237.462,234.03 237.99,232.83C238.351,232.066 238.811,231.353 239.36,230.71C240.253,229.666 241.479,228.959 242.83,228.71C244.188,228.653 245.507,229.181 246.45,230.16C246.938,230.608 247.38,231.104 247.77,231.64L251,236.38ZM245.12,235C244.931,234.638 244.652,234.332 244.31,234.11C243.903,233.595 243.25,233.335 242.6,233.43C242.023,233.582 241.504,233.902 241.11,234.35C240.856,234.634 240.625,234.939 240.42,235.26C240.23,235.66 240.03,236.07 239.74,236.57L239.16,238.08C238.97,238.58 238.87,239.08 238.68,239.59L243.87,246.59C244.682,246.285 245.449,245.871 246.15,245.36C246.709,245 247.208,244.554 247.63,244.04C248.218,243.44 248.593,242.663 248.7,241.83C248.722,240.788 248.391,239.769 247.76,238.94L245.12,235Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path36" />

        </g>
        <g id="path29"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M255.81,219C254.969,220.186 254.217,221.433 253.56,222.73C253.08,223.664 252.692,224.642 252.4,225.65L260.14,236.05L257.37,239L246,223.54L248.47,220.91L250.4,222.78C250.416,222.21 250.477,221.641 250.58,221.08C250.689,220.433 250.846,219.794 251.05,219.17C251.519,217.851 252.213,216.623 253.1,215.54L255.81,219Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path40" />

        </g>
        <g id="path31"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M258,210.68L265.54,220.98C265.71,221.152 265.848,221.351 265.95,221.57C266.05,221.77 266.25,221.87 266.36,221.96C266.87,222.35 267.27,222.55 267.57,222.44C268.032,222.276 268.442,221.993 268.76,221.62L270.76,224.62L270.27,225.13C269.505,226.062 268.448,226.71 267.27,226.97C266.138,227.13 265,226.69 264.27,225.81C263.908,225.438 263.574,225.041 263.27,224.62L255.12,213.62L258,210.68ZM251.78,209.46C251.371,208.959 251.183,208.312 251.26,207.67C251.252,207.033 251.496,206.417 251.94,205.96C252.321,205.587 252.805,205.336 253.33,205.24C253.808,205.247 254.27,205.416 254.64,205.72C254.909,205.966 255.118,206.27 255.25,206.61C255.377,206.963 255.448,207.335 255.46,207.71C255.445,208.083 255.381,208.453 255.27,208.81C255.146,209.133 254.982,209.439 254.78,209.72C254.457,210.1 253.988,210.325 253.49,210.34C253.012,210.333 252.55,210.164 252.18,209.86L251.78,209.46Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path43" />

        </g>
        <g id="g48"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M280.94,213.58L273.94,203.97C273.728,203.685 273.491,203.421 273.23,203.18C272.784,202.658 272.099,202.401 271.42,202.5C270.824,202.605 270.291,202.935 269.93,203.42C269.382,204.044 268.952,204.762 268.66,205.54C268.229,206.601 267.94,207.714 267.8,208.85L275.74,219.55L273,222.48L256.6,200.1L259.36,197.16L265.47,205.58C265.604,204.787 265.829,204.012 266.14,203.27C266.33,202.67 266.62,202.06 266.82,201.56C267.025,201.145 267.252,200.741 267.5,200.35C267.704,200.059 267.935,199.788 268.19,199.54C269.033,198.456 270.3,197.783 271.67,197.69C272.984,197.712 274.242,198.23 275.19,199.14L275.8,199.73C276.027,199.974 276.231,200.239 276.41,200.52L283.84,210.52L280.94,213.58Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path46" />

        </g>
        <g id="path35"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M290.11,203.75C289.305,204.751 288.19,205.455 286.94,205.75C285.888,205.87 284.841,205.475 284.13,204.69L283.52,204.1C283.32,203.9 283.11,203.61 282.91,203.41L269.67,185.41L272.33,182.47L285.47,200.1L285.77,200.4C285.87,200.5 285.97,200.6 285.97,200.7C286.257,201.057 286.755,201.173 287.17,200.98C287.721,200.649 288.22,200.238 288.65,199.76L290.89,202.76L290.11,203.75Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path50" />

        </g>
        <g id="path37"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M284.94,191.12C283.715,189.624 282.991,187.78 282.87,185.85C282.88,184.009 283.652,182.253 285,181C285.565,180.419 286.196,179.906 286.88,179.47C287.881,178.895 288.949,178.445 290.06,178.13L289.34,176.54L291.8,173.81L303.11,189.26L300.65,192L299.33,190.82C299.04,191.62 298.85,192.43 298.66,193.03C298.47,193.63 298.17,194.14 297.98,194.64C297.773,195.024 297.543,195.395 297.29,195.75C297.116,196.063 296.881,196.338 296.6,196.56C295.713,197.653 294.429,198.354 293.03,198.51C291.67,198.477 290.372,197.922 289.41,196.96C288.932,196.568 288.52,196.102 288.19,195.58L284.94,191.12ZM290.76,192.44C291.005,192.759 291.276,193.056 291.57,193.33C291.988,193.831 292.632,194.087 293.28,194.01C293.834,193.857 294.344,193.576 294.77,193.19C295.321,192.549 295.739,191.804 296,191C296.39,190 296.67,189 297.06,187.79L292.17,181.25C291.364,181.391 290.589,181.672 289.88,182.08C289.108,182.474 288.406,182.991 287.8,183.61C287.212,184.191 286.896,184.994 286.93,185.82C286.974,186.83 287.322,187.803 287.93,188.61L290.76,192.44ZM283.38,178.94L281.08,171.07L284.36,169.33L285.58,178.01L283.38,178.94Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path53" />

        </g>
        <g id="path39"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M298.41,166.54C299.306,165.577 300.313,164.725 301.41,164C302.432,163.352 303.595,162.958 304.8,162.85C304.91,163.45 305.02,164.05 305.13,164.75C305.24,165.45 305.35,166.05 305.46,166.65C304.553,166.822 303.679,167.136 302.87,167.58C302.136,168.035 301.463,168.583 300.87,169.21C300.17,169.826 299.748,170.699 299.7,171.63C299.563,172.294 299.801,172.983 300.32,173.42C300.5,173.614 300.756,173.72 301.02,173.71C301.324,173.723 301.628,173.686 301.92,173.6C302.234,173.505 302.534,173.367 302.81,173.19L303.7,172.58C304.19,172.17 304.79,171.77 305.38,171.36C306.015,170.967 306.685,170.633 307.38,170.36C308.056,170.135 308.772,170.056 309.48,170.13C310.27,170.282 311.001,170.653 311.59,171.2C312.345,171.867 312.907,172.723 313.22,173.68C313.498,174.551 313.58,175.473 313.46,176.38C313.309,177.372 312.969,178.326 312.46,179.19C311.963,180.15 311.334,181.035 310.59,181.82C309.686,182.801 308.653,183.656 307.52,184.36C306.311,185.102 304.936,185.532 303.52,185.61C303.3,184.31 303.19,183.11 303.07,181.82C304.093,181.816 305.094,181.525 305.96,180.98C306.786,180.458 307.551,179.844 308.24,179.15C308.903,178.44 309.375,177.573 309.61,176.63C309.832,175.871 309.584,175.05 308.98,174.54C308.661,174.164 308.125,174.048 307.68,174.26C307.095,174.41 306.551,174.69 306.09,175.08C305.5,175.49 304.9,175.9 304.21,176.41C303.558,176.864 302.857,177.243 302.12,177.54C301.431,177.851 300.67,177.965 299.92,177.87C299.086,177.766 298.309,177.389 297.71,176.8C296.981,176.151 296.422,175.334 296.08,174.42C295.858,173.572 295.78,172.693 295.85,171.82C295.957,170.899 296.254,170.011 296.72,169.21C297.056,168.195 297.637,167.278 298.41,166.54ZM296.65,154.86L298.85,154.93L298.67,163.73L296.9,165.65L289.49,165.05L289.66,162.55C290.029,162.548 290.398,162.511 290.76,162.44C291.36,162.44 291.96,162.32 292.66,162.31C293.36,162.3 293.96,162.19 294.56,162.18C294.93,162.225 295.306,162.187 295.66,162.07L296.65,154.86Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path56" />

        </g>
        <g id="path41"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M324.18,156.89C325.505,158.47 326.146,160.516 325.96,162.57C325.619,164.508 324.702,166.299 323.33,167.71C322.731,168.392 322.029,168.975 321.25,169.44C319.742,170.412 317.888,170.692 316.16,170.21C315.186,169.876 314.294,169.341 313.54,168.64L312.93,168.05C312.703,167.842 312.498,167.611 312.32,167.36L309.88,164.19C308.626,162.639 307.922,160.714 307.88,158.72C308.083,156.676 308.976,154.76 310.41,153.29C311.11,152.503 311.947,151.849 312.88,151.36C313.686,150.946 314.566,150.697 315.47,150.63C316.357,150.547 317.251,150.674 318.08,151C318.949,151.319 319.74,151.821 320.4,152.47C320.762,152.842 321.096,153.239 321.4,153.66L324.18,156.89ZM318.87,156.46C318.658,156.175 318.421,155.911 318.16,155.67C317.498,154.943 316.528,154.572 315.55,154.67C314.614,154.786 313.759,155.264 313.17,156C312.456,156.699 312.007,157.626 311.9,158.62C311.897,159.783 312.301,160.912 313.04,161.81L315.18,164.68C315.258,164.831 315.363,164.967 315.49,165.08L315.79,165.38C316.154,165.746 316.605,166.014 317.1,166.16C317.522,166.286 317.966,166.313 318.4,166.24C318.811,166.145 319.21,166.004 319.59,165.82C319.966,165.607 320.304,165.333 320.59,165.01L321.47,163.8C321.674,163.381 321.834,162.942 321.95,162.49C322.007,161.954 321.967,161.412 321.83,160.89C321.604,160.255 321.295,159.653 320.91,159.1L318.87,156.46Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path59" />

        </g>
        <g id="g64"
           transform="matrix(1,0,0,1,-10.96,-8.22)">
        <path d="M330.62,159.51L314.12,137.33L316.78,134.39L325.54,146.17L327.02,144.55C327.529,144.049 327.901,143.426 328.1,142.74C328.315,141.905 328.234,141.021 327.87,140.24L326.52,136.16L329.58,132.82L331.25,138C331.474,138.785 331.651,139.583 331.78,140.39C331.868,141.222 331.704,142.062 331.31,142.8C331.711,142.584 332.148,142.442 332.6,142.38C332.969,142.356 333.34,142.386 333.7,142.47C334.06,142.572 334.399,142.738 334.7,142.96C335.056,143.156 335.391,143.387 335.7,143.65L341.45,147.65L338.69,150.65L333.74,147.12C333.133,146.553 332.356,146.201 331.53,146.12C330.778,146.238 330.1,146.643 329.64,147.25L327.77,149.25L333.17,156.58L330.62,159.51Z"
              style="fill:rgb(241,242,242);fill-rule:nonzero;"
              id="path62" />

        </g>
    </g>
        <g transform="matrix(0.67,-0.75,0.71,0.7,193.01,387.66)"
           id="g71">
        <g id="g45">
        <g id="text4169">
        <text x="0"
              y="0"
              style="font-weight:700;font-size:26.01px;font-family:Arial-BoldMT, Arial, sans-serif;fill:#414042"
              id="text67">@DueDate</text>
            </g>
        </g>
    </g>
</svg>
    </a>
</div>

<div class="primacky d-md-none mt-3">
    <a href="https://vzdelavanie.uniza.sk/prijimacky/" title="Na stránku elektronickej prihlášky">
        <div class="grey">Podávanie prihlášok</div>
        <div class="green">@DueDate</div>
    </a>
</div>

@code {
    [Parameter]
    public string DueDate { get; set; }
}
