@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="alert alert-info">
            <div class="btn btn-info ml-2" @onclick="NavigateToLogs">Logy</div>
            <div class="btn btn-warning ml-2" @onclick="NavigateToIPManagement">Správa IP adries</div>
        </div>
    </Authorized>
</AuthorizeView>



@code {
    private void NavigateToLogs()
    {
        NavigationManager.NavigateTo("/server-logs");
    }

    private void NavigateToIPManagement()
    {
        NavigationManager.NavigateTo("/ip-management");
    }
}